torch>=1.6.0
torchaudio>=0.6.0
librosa==0.8.1
tgt==1.4.4
pyloudnorm==0.1.0
praatio==3.8.0
tensorboardX==1.9
numpy
pandas
scipy
scikit-learn
tqdm
scenedetect
opencv-python
python_speech_features
torchvision
ffmpeg
gdown
youtube-dl
mediapipe
nltk
yt-dlp
